
body
{
background-color:linen;
background-image:url("peach.jpeg");
background-size: 1400px 700px;
background-repeat:no-repeat;
background-attachment:scroll;     
}
h1
{
color:#333;
margin-left:40px;
}
p
{
margin-left:40px;
color:maroon;
font-weight:bold;
font-size:12pt;
font-family:serif;
}
th
{
background-color:#366;
color:white;
}
td
{
background-color:ivory;
color:black;
font-weight:bold;
}




